---
const personalImageAlt = "Equipo de Desarrolladores - King Devs";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Somos <strong>King Devs</strong>, un equipo de cuatro
      desarrolladores apasionados por la tecnología, especializados en la
      creación de aplicaciones web y móviles. Nos encanta trabajar juntos para
      transformar ideas en experiencias digitales innovadoras y funcionales.
    </p>

    <p>
      Nuestro equipo cuenta con experiencia en tecnologías como <strong
        >React, TypeScript, Node.js, Express, Tailwind CSS, Firebase</strong
      > y <strong>Next.js</strong>, y nos enfocamos en desarrollar soluciones
      eficientes y escalables. Nos complementamos en habilidades técnicas y de
      gestión de proyectos, lo que nos permite trabajar de manera ágil,
      cumpliendo con altos estándares de calidad y siempre atentos a las
      necesidades de nuestros clientes.
    </p>

    <p>
      En <strong>King Devs</strong>, creemos que la colaboración y la innovación
      son claves para crear productos de alto impacto. Estamos en constante
      aprendizaje, listos para enfrentar nuevos desafíos y contribuir al éxito
      de cada proyecto.
    </p>
  </div>
</article>
