---
 const personalImageAlt = "Stiven Jaime"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy un desarrollador web con pasión por la tecnología y la creación de interfaces atractivas y funcionales. Desde mis primeros pasos en HTML, CSS y JavaScript, he ido profundizando en herramientas como React, TypeScript, Express, Node.js, Tailwind CSS, Shadcn, Firebase y Next.js.</strong
      >.
    </p>

    <p>
      A lo largo de mi trayectoria, he adquirido un sólido conocimiento en pruebas y gestión de proyectos, lo que me ha permitido trabajar en soluciones ágiles y eficientes. Siempre en busca de nuevos desafíos, mi meta es continuar aprendiendo y aportar valor en una empresa innovadora.</strong
      >
    </p>

   
  </div>


</article>

