---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Enero 2023 - Agosto 2024",
    title: "Lider de desarrollo",
    company: "MixMeet",
    description:
      "- Responsable de la gestión integral del proyecto, incluyendo planificación y coordinación. Diseño y desarrollo de la interfaz de usuario, asegurando una experiencia intuitivay atractiva.- Implementación del backend utilizando Firebase y Express, garantizando unaintegración fluida y una arquitectura robusta.",
    
  },
  {
    date: "Actualmente",
    title: "Principal Frontend",
    company: "Iron Plantet GYM",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones movil. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua .",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
