---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Enero 2023 - Agosto 2024",
    title: "Líderes de desarrollo",
    company: "MixMeet",
    description:
      "- Nuestro equipo gestionó el proyecto de manera integral, incluyendo planificación y coordinación en cada etapa. Diseñamos y desarrollamos una interfaz de usuario intuitiva y atractiva para ofrecer la mejor experiencia posible. Implementamos el backend utilizando Firebase y Express, logrando una integración fluida y una arquitectura robusta para el proyecto.",
  },
  {
    date: "Septiembre 2023 - Diciembre 2023",
    title: "Equipo de Frontend Principal",
    company: "Iron Planet GYM",
    description:
      "- Somos responsables de la plataforma, así como de los componentes y utilidades para el desarrollo de aplicaciones móviles. Mejoramos la eficiencia en un 30% en la entrega de software y hemos implementado medidas de integración continua para garantizar la calidad y estabilidad en el desarrollo.",
  },
  {
    date: "Octubre 2024 - Actualmente",
    title: "Equipo Full-Stack",
    company: "Reffinato",
    description:
      "- Desarrollamos la plataforma completa de Reffinato, una tienda en línea de ropa de playa. Fuimos responsables de todos los aspectos del proyecto, desde el backend hasta el frontend. Utilizamos React para la interfaz de usuario, Express para el servidor, PostgreSQL para la base de datos y Azure para el despliegue y administración. Aseguramos una arquitectura escalable y eficiente para ofrecer una experiencia de compra rápida y agradable para los usuarios.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
